<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         id="Afrikaanse Klasbeskrywing"
         point="org.protege.editor.core.application.ViewComponent">
      <label
            value="Afrikaanse Klasbeskrywing">
      </label>
      <class
            value="OWLAfrikaansClassDescriptionViewComponent">
      </class>
      <category
            value="@org.protege.classcategory">
      </category>
   </extension>
</plugin>